# Ignore Visual Studio files
.vs/
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
node_modules/
 
FeedUploader.Data/bin
FeedUploader.Data/obj
FeedUploader.Data/packages
 
FeedUploader.Data/obj/Debug/net8.0/FeedUploader.Data.AssemblyInfoInputs.cache
AIParser/obj/Debug/net8.0/AIParser.AssemblyInfo.cs
AIParser/obj/Debug/net8.0/AIParser.AssemblyInfoInputs.cache
FeedUploader.Data/obj/Debug/net8.0/FeedUploader.Data.AssemblyInfo.cs
/AIParser/obj/Debug/net8.0/AIParser.AssemblyInfo.cs
/AIParser/obj/Debug/net8.0/AIParser.AssemblyInfoInputs.cache
/AIParser/obj/Debug/net8.0/AIParser.assets.cache
/AIParser/obj/Debug/net8.0/AIParser.csproj.AssemblyReference.cache
/AIParser/obj/Debug/net8.0/AIParser.GeneratedMSBuildEditorConfig.editorconfig
/AIParser/obj/AIParser.csproj.nuget.dgspec.json
/AIParser/obj/AIParser.csproj.nuget.g.props
/AIParser/obj/project.nuget.cache
/AIParser/obj/project.nuget.cache
/AIParser/obj/project.assets.json
/FeedUploader.Data/obj/Debug/net8.0/FeedUploader.Data.AssemblyInfo.cs
/FeedUploader.Data/obj/Debug/net8.0/FeedUploader.Data.AssemblyInfoInputs.cache
/FeedUploader.Data/obj/Debug/net8.0/FeedUploader.Data.assets.cache
/FeedUploader.Data/obj/Debug/net8.0/FeedUploader.Data.csproj.AssemblyReference.cache
/FeedUploader.Data/obj/Debug/net8.0/FeedUploader.Data.GeneratedMSBuildEditorConfig.editorconfig
/FeedUploader.Data/obj/FeedUploader.Data.csproj.nuget.dgspec.json
/FeedUploader.Data/obj/FeedUploader.Data.csproj.nuget.g.props
/FeedUploader.Data/obj/project.assets.json
/FeedUploader.Data/obj/project.nuget.cache
/FeedUploader.Server/bin/Debug/net8.0/FeedUploader.Server.dll
/FeedUploader.Server/bin/Debug/net8.0/FeedUploader.Server.exe
/FeedUploader.Server/bin/Debug/net8.0/FeedUploader.Server.pdb
/FeedUploader.Server/obj/Debug/net8.0/refint/FeedUploader.Server.dll
/FeedUploader.Server/obj/Debug/net8.0/ref/FeedUploader.Server.dll
/FeedUploader.Server/obj/Debug/net8.0/apphost.exe
/FeedUploader.Server/obj/Debug/net8.0/FeedUploader.Server.AssemblyInfo.cs
/FeedUploader.Server/obj/Debug/net8.0/FeedUploader.Server.AssemblyInfoInputs.cache
/FeedUploader.Server/obj/Debug/net8.0/FeedUploader.Server.dll
/FeedUploader.Server/obj/Debug/net8.0/FeedUploader.Server.pdb
/FeedUploader.Server/obj/Debug/net8.0/FeedUploader.Server.sourcelink.json
/FeedUploader.sln
/FeedUploader.Server/obj/Debug/net8.0/FeedUploader.Server.sourcelink.json
/AIParser/bin/Debug/net8.0
/AIParser/obj/Debug/net8.0
/FeedUploader.sln
